<ngx-smart-modal #emailPasswordModal identifier="emailPasswordModal" customClass="nsm-centered"
    (onOpen)="getData()" [closable]="false" [dismissable]="false" [escapable]="false">
    <div class="bg-white barlow rounded-lg text-base default-text-color w-420-px h-full">
        <div class="flex-col" style="padding: 2rem;">
            <span class="block text-center">Enter your password to save new contact email.</span>
            <form style="padding-top:25px" [formGroup]="passwordForm">
                <div class="mb-1 h-105-px">
                    <label class="block label-color mb-1" style="color:#7E868F" for="password">Password</label>
                    <div class="flex items-center relative">
                        <input formControlName="password" class="custom-input w-full pt-5 mb-1" (keyup.enter)="checkPasword()" style="padding-right: 45px;" [type]="passType" minlength="6"  maxlength="70"
                        [ngClass]="{'error  pr-30-px': passwordForm.controls.password.touched && !passwordForm.controls.password.valid}">
                        <span class="eye-container absolute right-0">
                            <i *ngIf="showPass" [icon]="faEye" class="far fa-eye mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.password.valid ? passwordForm.controls.password.markAsUntouched() : '';showPassword(false);passwordForm.controls.password.markAsUntouched()"></i>
                
                            <i *ngIf="!showPass" [icon]="faEyeSlash" class="far fa-eye-slash mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.password.valid ? passwordForm.controls.password.markAsUntouched() : '';showPassword(true);passwordForm.controls.password.markAsUntouched()"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="passwordForm.controls.password.touched">
                        <span class="barlow text-red-700 fs-14-px" *ngIf="passwordForm.controls.password.hasError('required')">Password is
                            required</span>
                        <span class="text-red-700 fs-14-px" *ngIf="passwordForm.controls.password.hasError('minlength')"> Passsword is minimum of 6 characters!</span>
                    </ng-container>
                </div>
            </form>

            <div class="flex justify-end items-center">
                <button [disabled]="( (passwordForm.dirty && !passwordForm.valid) || !passwordForm.dirty) " 
                    class="custom-btn px-5 py-3 focus:outline-none w-150-px {{ ( (passwordForm.dirty && !passwordForm.valid) || !passwordForm.dirty) ? 'btn-disabled' : 'btn-main-pink' }}"
                    (click)="checkPasword()" >
                    <span *ngIf="!requesting" >Save Changes</span>
                    <mat-spinner *ngIf="requesting" class="white-loader" diameter="20" color="accent" mode="indeterminate"></mat-spinner>
                </button> 
            </div>
        </div>

    </div>
</ngx-smart-modal>