<ngx-smart-modal 
    #forgotPassword 
    (onOpen)="getData()"
    identifier="forgotPassword" 
    (onAnyCloseEvent)="reset()"
    customClass="nsm-centered forgot"
    >
    <div class="p-6 py-8 bg-white rounded-lg">
        <div class="flex flex-row justify-start items-center barlow">
            <span class="text-xl barlow-bold default-text-color ">Forgot Password</span>
        </div>
        <div class="block default-text-color text-base mt-4">Please enter the email you registered in Dataplay and we’ll send you a link to reset your password.</div>
        <div class="mt-6">
            <form class="flex flex-col flex-grow" [formGroup]="forgotForm">
                <div class="w-full">
                    <label for="username" class="block text-gray-500 text-base mb-1 barlow">
                        Email
                    </label>
                    <div class="w-full flex justify-end items-center">
                        <input tabindex="=-1" (keyup.enter)="sendEmail()" type="email" (focus)="forgotForm.controls.email.markAsUntouched()"
                            class="appearance-none border rounded w-full py-2 px-3 leading-tight custom-input caret-color"
                            [ngClass]="{'error  pr-30-px': forgotForm.controls.email.touched && !forgotForm.controls.email.valid}"
                            formControlName="email" autocomplete="off" maxlength="70">
                        <div class="absolute pr-4">
                            <svg *ngIf="forgotForm.controls.email.touched && !forgotForm.controls.email.valid"
                                width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.993 0C3.129 0 0 3.136 0 7C0 10.864 3.129 14 6.993 14C10.864 14 14 10.864 14 7C14 3.136 10.864 0 6.993 0ZM7.69958 3.5H6.29958V7.7H7.69958V3.5ZM7.69958 9.1H6.29958V10.5H7.69958V9.1ZM1.39979 7C1.39979 10.094 3.90579 12.6 6.99979 12.6C10.0938 12.6 12.5998 10.094 12.5998 7C12.5998 3.906 10.0938 1.4 6.99979 1.4C3.90579 1.4 1.39979 3.906 1.39979 7Z"
                                    fill="#BE1E2D" />
                            </svg>
                        </div>
                    </div>
                    <ng-container *ngIf="forgotForm.controls.email.touched">
                        <span class="text-red-700 mb-0 fs-14 text-error barlow"
                            *ngIf="forgotForm.controls.email.hasError('required')">Email is
                            required</span>
                        <span class="text-red-700 mb-0 fs-14 text-error"
                            *ngIf="forgotForm.controls.email.hasError('email')">Email must be in
                            valid format!</span>
                        <!-- <span class="text-red-700  mb-0 fs-14" *ngIf="registerForm.controls.last_name.hasError('minlength')">First name must
                                                                                be at least 6
                                                                                characters!</span> -->
                    </ng-container>
                </div>
                <div class="mt-4 flex flex-row justify-end ">
                    <button class="w-120-px custom-btn focus:outline-none py-4 px-6 rounded {{ emailExisting || !forgotForm.valid || !forgotForm.controls.email.value ? 'btn-disabled' : 'btn-bg-pink' }} " (click)="sendEmail()"
                    [disabled]="emailExisting || !forgotForm.valid || !forgotForm.controls.email.value">
                       <span class="" *ngIf="!isLoading">Send Email</span> 
                       <mat-spinner class="white-loader" *ngIf="isLoading" diameter="20" color="accent" mode="indeterminate"></mat-spinner>
                    </button>
                   <!--  <button type="submit"  class="w-116-px shadow custom-btn btn-main-pink text-white focus:shadow-outline focus:outline-none  p-4 rounded" *ngIf="isLoading">
                        <mat-spinner class="white-loader" diameter="20" color="accent" mode="indeterminate"></mat-spinner>
                    </button> -->
                     <!-- <input type="password" class="appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"> -->
                </div>
            </form>
        </div>
    </div>
    
</ngx-smart-modal>
