::ng-deep{
    .nsm-content{
        border-radius: 8px;
        width: 480px !important;
    }
    .forgot .nsm-dialog-btn-close{
        top: 26px !important;
        right: 40px !important;
        background: none;
        &:hover,&:focus{
            background: none;
            outline: none;
        }
        svg{
            width: 14px !important;
            height: 14px !important;
        }
    }
}
input, .caret-color{
    caret-color: #56a4aa;
}