.eye-container{
    margin-bottom:-18px;
    transform: translateY(-35px);
    &:hover{
        i{
            color:teal;
        }
    }
}


::ng-deep{
    .buttonX{
        .nsm-dialog-btn-close{
            padding: 7px !important;
            transform: translateX(-20px);
        }
    }
}
