<ngx-smart-modal #changePassModal identifier="changePassModal" customClass="nsm-centered" 
    (onOpen)="getPassComp()" (onClose)="reset()" (onAnyCloseEvent)="reset()" class="buttonX">
    <div *ngIf="id" class="bg-white barlow rounded-lg text-base default-text-color w-450-px h-full">
        <div class="flex-col border-b border-gray-400" style="padding: 2rem;">
            <span class="text-xl barlow-bold">Change your password</span>
            <form class="text-base" style="padding-top:35px" [formGroup]="passwordForm">
                
                <div class="mb-1 h-94-px">
                    <label class="block label-color mb-1" style="color:#7E868F" for="old_password">Current password</label>
                    <div class="flex-col flex items-end">
                        <input formControlName="old_password" class="custom-input w-full pt-5 mb-1" style="padding-right: 45px;" [type]="passType" minlength="6"
                        [ngClass]="{'error  pr-30-px': passwordForm.controls.old_password.touched && !passwordForm.controls.old_password.valid}">
                        <span class="eye-container flex">
                            <i *ngIf="showPass" [icon]="faEye" class="far fa-eye mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.old_password.valid ? passwordForm.controls.old_password.markAsUntouched() : '';showPassword(false);passwordForm.controls.old_password.markAsUntouched()"></i>
                
                            <i *ngIf="!showPass" [icon]="faEyeSlash" class="far fa-eye-slash mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.old_password.valid ? passwordForm.controls.old_password.markAsUntouched() : '';showPassword(true);passwordForm.controls.old_password.markAsUntouched()"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="passwordForm.controls.old_password.touched">
                        <span class="barlow text-red-700 fs-14-px" *ngIf="passwordForm.controls.old_password.hasError('required')">Password is
                            required</span>
                    </ng-container>
                </div>
               
                <div class="mb-1 h-105-px">
                    <label class="block label-color mb-1 pt-3" style="color:#7E868F" for="new_password">New password</label>
                    <div class="flex-col flex items-end">
                        <input formControlName="new_password" (keyup)="checkIfSame()" class="custom-input w-full pt-5 mb-1" style="padding-right: 45px;" [type]="newpassType" minlength="6"
                        [ngClass]="{'error  pr-30-px': passwordForm.controls.new_password.touched && !passwordForm.controls.new_password.valid}">
                        <span class="eye-container flex">
                            <i *ngIf="newShowPass" [icon]="faEye" class="far fa-eye mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.new_password.valid ? passwordForm.controls.new_password.markAsUntouched() : '';newShowPassword(false);passwordForm.controls.new_password.markAsUntouched()"></i>
                
                            <i *ngIf="!newShowPass" [icon]="faEyeSlash" class="far fa-eye-slash mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.new_password.valid ? passwordForm.controls.new_password.markAsUntouched() : '';newShowPassword(true);passwordForm.controls.new_password.markAsUntouched()"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="passwordForm.controls.new_password.touched">
                        <span class="barlow text-red-700 fs-14-px" *ngIf="passwordForm.controls.new_password.hasError('required')">New password is
                            required</span>
                        <span class="text-red-700 fs-14-px" *ngIf="passwordForm.controls.new_password.hasError('minlength')"> New passsword must be at least 6 characters!</span>
                    </ng-container>
                </div>
               
                <div class="mb-1 h-105-px">
                    <label class="block label-color mb-1 pt-3" style="color:#7E868F" for="confirm_password">Confirm new password</label>
                    <div class="flex-col flex items-end">
                        <input formControlName="confirm_password" (keyup)="checkIfSame()" class="custom-input w-full pt-5 mb-1" style="padding-right: 45px;" [type]="confirmpassType"
                        [ngClass]="{'error  pr-30-px': passwordForm.controls.confirm_password.touched && !passwordForm.controls.confirm_password.valid}">
                        <span class="eye-container flex">
                            <i *ngIf="confirmShowPass" [icon]="faEye" class="far fa-eye mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.confirm_password.valid ? passwordForm.controls.confirm_password.markAsUntouched() : '';confirmShowPassword(false);passwordForm.controls.confirm_password.markAsUntouched()"></i>
                
                            <i *ngIf="!confirmShowPass" [icon]="faEyeSlash" class="far fa-eye-slash mr-3 cursor-pointer text-gray-500"
                                (click)="passwordForm.controls.confirm_password.valid ? passwordForm.controls.confirm_password.markAsUntouched() : '';confirmShowPassword(true);passwordForm.controls.confirm_password.markAsUntouched()"></i>
                        </span>
                    </div>
                    <ng-container *ngIf="passwordForm.controls.confirm_password.touched">
                        <span class="barlow text-red-700 fs-14-px" *ngIf="passwordForm.controls.confirm_password.hasError('required')">Confirm password is
                            required</span>
                        <br *ngIf="!same && passwordForm.controls.confirm_password.hasError('required') && passwordForm.controls.confirm_password.touched">
                        <span class="barlow text-red-700 mb-0 fs-14-px" *ngIf="!same">Passwords
                                do not match!</span>
                    </ng-container>
                </div>
                
                
            </form>
        </div>
        <div class="flex justify-end items-center" style="padding: 2rem;">
            <span  class="text-sm px-5 hover:text-teal-800 cursor-pointer focus:outline-none" (click)="reset()">Cancel</span>
            <button [disabled]="(!passwordForm.valid || !passwordForm.touched && !same)" 
                class="custom-btn px-5 py-3 focus:outline-none w-150-px {{ (!passwordForm.valid  || !passwordForm.touched && !same) ? 'btn-disabled' : 'btn-main-pink' }}"
                (click)="savePassword()" >
                <span *ngIf="!isLoading" >Save Password</span>
                <mat-spinner *ngIf="isLoading" class="white-loader" diameter="20" color="accent" mode="indeterminate"></mat-spinner>
            </button> 
        </div>
       
    </div>
</ngx-smart-modal>