<router-outlet></router-outlet>


<!-- Modals -->
<app-forgot-password></app-forgot-password>
<app-confirm></app-confirm>
<app-declined-messages></app-declined-messages>
<app-photo-view-modal></app-photo-view-modal>
<app-change-password></app-change-password>
<app-deactivate></app-deactivate>
<app-deactivate-modal></app-deactivate-modal>
<app-report-delete></app-report-delete>
<app-custom-loader></app-custom-loader>
<app-password></app-password>
<app-password></app-password>
<app-email-password></app-email-password>

<!-- Toast -->
