.eye-container{
    &:hover{
        i{
            color:teal;
        }
    }
}

::ng-deep{
    .buttonClose{
        .nsm-dialog-btn-close{
            padding: 7px !important;
            transform: translateX(-89px);
        }
    }
}

