<div class="mx-auto">
    <div class="flex justify-between items-center mt-5 py-3 px-8 barlow text-base">
        <div class="">
            <p class="fs-23-px barlow-condensed-bold whitespace-no-wrap default-text-color">Monthly Analytics</p>
        </div>
        <div class="border border-gray-400 rounded-md w-260-px h-50-px mx-8 my-3 text-base flex items-center">
            <span class="pl-5 pr-3 font-bold default-text-color">Month:</span>
             <input readonly [matDatepicker]="dp" [max]="today" (focus)="dp.open();" (click)="dp.open();" [formControl]="date" 
                 class="default-text-color cursor-pointer focus:outline-none" style="font-weight: 600; width: 132px;">
                 <mat-datepicker-toggle matSuffix [for]="dp">
                     <svg matDatepickerToggleIcon width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                        style="margin-left: 14px;">
                         <path d="M0 0.5L5 5.5L10 0.5H0Z" fill="#7E868F"/>
                     </svg>
                         
                 </mat-datepicker-toggle>
                 <mat-datepicker #dp
                     startView="multi-year"
                     (yearSelected)="chosenYearHandler($event)"
                     (monthSelected)="chosenMonthHandler($event, dp)"
                     panelClass="example-month-picker">
                 </mat-datepicker>
         </div>
    </div>
    <div class="grid grid-cols-12 mt-5 py-3 px-8 barlow text-base gap-16 mb-6">
        <div class="col-span-5">
            <div class="bg-gray-300 rounded-lg p-8 text-base barlow flex flex-col items-center"> 
                <img class="" src="/assets/images/flatui_graph.png">
                <span class="fs-26-px barlow-condensed-bold whitespace-no-wrap p-8 default-text-color">+{{ items && items.total_views ? items.total_views : '0' }}
                    <span *ngIf=" items && !items.total_views">VIEW</span>
                    <span *ngIf=" items && items.total_views && items.total_views == 1">VIEW</span>
                    <span *ngIf="items && items.total_views && items.total_views > 1">VIEWS</span>
                </span>
                <span class="whitespace-no-wrap text-gray-700" *ngIf="!MY">Total Profile Views for the month of {{ today | transformDate: '': 'MMMM' }}</span>
                <span class="whitespace-no-wrap text-gray-700" *ngIf="MY">Total Profile Views for the month of {{ MY | transformDate: '': 'MMMM' }}</span>
            </div>
        </div>
        <div class="col-span-7">
            <div class="">
                <p class="fs-23-px barlow-condensed-bold whitespace-no-wrap default-text-color">+{{ items && items.total_count ? items.total_count : '0' }}
                    <span *ngIf="items && !items.total_follower">NEW FOLLOWER</span>
                    <span *ngIf="items && items.total_follower && items.total_follower > 1">NEW FOLLOWERS</span>
                    <span *ngIf="items && items.total_follower && items.total_follower <= 1">NEW FOLLOWER</span>
                </p>
                <div class="pt-4 pb-6">
                    <span *ngIf="MY" class="text-gray-700">People who followed you since starting {{ MY | transformDate: '': 'MMMM yyyy' }}</span>
                    <span *ngIf="!MY" class="text-gray-700">People who followed you since starting {{ today | transformDate: '': 'MMMM yyyy' }}</span>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="">
                    <span class="barlow-bold fs-16-px">People</span>
                </div>
                <div class="">
                    <span class="barlow-bold fs-16-px">Date Followed</span>
                </div>
            </div>
            <div class="pt-3 pb-5">
                <hr class="">
            </div>
            <ng-container *ngFor="let analytics of monthlyAnalytics">
                <!-- <div class="flex gap-2 pb-10">
                    <div class="">
                        <img *ngIf="analytics && !analytics.profile_pic_path" class="w-60-px h-60-px rounded-full" src="/assets/images/default_avatar.png">
                        <img *ngIf="analytics && analytics.profile_pic_path" class="w-60-px h-60-px rounded-full" src="{{ analytics.profile_pic_path }}">
                    </div>
                    <div class="px-10">
                        <div class="flex gap-2">
                            <p class="barlow-bold fs-17-px default-text-color">{{ analytics && analytics.follower_full_name ? analytics.follower_full_name : 'N/A' }}</p>
                            <img *ngIf="analytics.verification_status == 1" class="w-18-px h-18-px" src="/assets/images/icon/check_badge.png">
                            <img class="h-20-px w-auto" *ngIf="analytics.user_role == 3" src="/assets/images/icon/athlete_badge.png">
                            <img class="h-20-px w-auto" *ngIf="analytics.user_role == 4" src="/assets/images/icon/fan_badge.png">
                        </div>
                        <span class="default-text-color">{{ analytics.user_role == 3 ? 'Athlete' : 'Sports Fan' }} <span class="default-text-color" *ngIf="analytics.user_role == 3">- {{ analytics && analytics.follower_city ? analytics.follower_city : 'N/A' }}, {{ analytics && analytics.follower_province ? analytics.follower_province : 'N/A' }}</span></span>
                    </div>
                    <div class="ml-auto">
                        <span class="whitespace-no-wrap">{{ analytics.updated_at | date: 'mediumDate' }}</span>
                    </div>
                </div> -->
                <div class="grid grid-cols-5 gap-2 pb-10 default-text-color">
                    <div class="col-span-1">
                        <img *ngIf="analytics && !analytics.profile_pic_path" class="w-60-px h-60-px rounded-full" src="/assets/images/default_avatar.png">
                        <img *ngIf="analytics && analytics.profile_pic_path" class="w-60-px h-60-px rounded-full" src="{{ analytics.profile_pic_path }}">
                    </div>
                    <div class="col-span-3">
                        <div class="flex space-x-2 ">
                            <p class="barlow-bold fs-17-px default-text-color">{{ analytics && analytics.follower_full_name ? analytics.follower_full_name : 'N/A' }}</p>
                            <img *ngIf="analytics.verification_status == 1" class="w-18-px h-18-px" src="/assets/images/icon/check_badge.png">
                            <img class="h-20-px w-auto" *ngIf="analytics.user_role == 3" src="/assets/images/icon/athlete_badge.png">
                            <img class="h-20-px w-auto" *ngIf="analytics.user_role == 4" src="/assets/images/icon/fan_badge.png">
                        </div>
                        <span class="default-text-color">{{ analytics.user_role == 3 ? 'Athlete' : 'Sports Fan' }} <span class="default-text-color" *ngIf="analytics.user_role == 3">- {{ analytics && analytics.follower_city ? analytics.follower_city : 'N/A' }}, {{ analytics && analytics.follower_province ? analytics.follower_province : 'N/A' }}</span></span>
                    </div>
                    <div class="col-span-1 col-end-12">
                        <span class="whitespace-no-wrap">{{ analytics.updated_at | transformDate: '': 'MMM d, y' }}</span>
                    </div>
                </div>
            </ng-container>
            <ng-container>
                <div class="flex justify-center" *ngIf="!monthlyAnalytics">
                    <span class="py-20 text-base">No Results Found.</span>
                </div>
            </ng-container>
            <ng-container *ngIf="items && items.total_page > 1">
                <div class="pr-3 flex items-center justify-center table-pagination barlow mt-6" style="text-align: right;">
                    <button class="page-btn barlow-bold {{ pagination.selected_page == 1  ? 'disable-page' : 'default-text-color' }}" style="white-space: nowrap;" (click) = "prevPage()" [disabled] = "pagination.selected_page == 1">
                        Previous 
                    </button> 
                    <button class="page-btn " (click) = "prevPage()" [disabled] = "pagination.selected_page == 1">
                        <i class="px-2 fa fa-angle-double-left mr-2 angle-icon {{ pagination.selected_page == 1  ? 'disable-svg' : 'btn-svg' }}"></i>
                    </button>
                    <span class="rounded-circle table-pagination page cursor-pointer" *ngIf="items.current_page > 2 && items.current_page != 1 && items.current_page != 2" (click)="setPage(1)">1</span>
                    <span *ngIf="items.current_page > 2 && items.current_page != 1 && items.current_page != 2 && items.total_page > 4">...</span>
                    <span class="rounded-circle table-pagination page cursor-pointer" *ngIf="items.current_page != 1" (click)="setPage(items.previous_page)">{{ items.previous_page }}</span>
                    <span class="rounded-circle table-pagination page cursor-pointer active-page">{{ items.current_page }}</span>
                    <span class="rounded-circle table-pagination page cursor-pointer" *ngIf="items.current_page < items.total_page" (click)="setPage(items.next_page)">{{ items.next_page }}</span>
                    <span class="rounded-circle table-pagination page cursor-pointer" *ngIf="items.next_page+1 <= items.total_page && items.previous_page < items.next_page" (click)="setPage(items.next_page)">{{ items.next_page +1 }}</span>
                    <span *ngIf="items.total_page > 4 && items.current_page + 1 < items.total_page">...</span>
                    <span class="rounded-circle table-pagination page cursor-pointer" *ngIf="items.total_page > 4 && items.current_page + 1 < items.total_page" (click)="setPage(items.total_page)">{{ items.total_page }}</span>

                    <button class="page-btn " style="white-space: nowrap;" (click)="nextPage()" [disabled] = "pagination.selected_page == items.total_page">
                        <i class="px-2 fa fa-angle-double-right ml-2 angle-icon {{ pagination.selected_page == items.total_page  ? 'disable-svg' : 'btn-svg' }}"></i>
                    </button>
                    <button class="hover:text-gray-800 page-btn barlow-bold {{ pagination.selected_page == items.total_page  ? 'disable-page' : 'default-text-color' }}" (click)="nextPage()" [disabled]="pagination.selected_page == items.total_page">Next</button>
                </div>
            </ng-container>
        </div>
    </div>
</div>